<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.2/dist/css/foundation.min.css">
 
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/styles/app.css" media="screen" title="no title" charset="utf-8">

  <!-- add Foundation link to files -->
  <title>Home Page</title>
</head>

<body>
  {{{body}}}
</body>

</html>