body {
  margin: 0;
  padding: 0;


  font-family: "Titillium Web", sans-serif;
}

.row {
  width: 80vw;
  margin: auto;
}



.cases {
  width: 90%;
  margin: auto;
}

.form-group {
  margin: 20px;
}

input {
  max-width: 60%;
}
textarea {
  max-width: 60%;
}

form {
  width: 90%;
  margin: 5%;
  border-color: black;
}

.list-group {
  /* background-color: white; */
  margin-left: 5%;
  margin-right: 5%;
}

.list-group-item {
  /* margin-left: 5%;
  margin-right: 5%; */
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 2%;
  height: 125px;
}

.post {
  font-size: 20px;
  margin-right: 5%;
}

.btn-view {
  background-color: white;
  margin-left: 1%;
}

header {
  text-align: center;
}

h1 {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: magenta;
  font-size: xx-large;
  text-align: center;
}

h3 {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  text-align: center;
}

.formLabel {
  font-size: 22px;
}
