body {
  margin: 0;
  padding: 0;
  background-color: lightseagreen;
}

.row {
  width: 80vw;
  margin: auto;

}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}

.cases {
  width: 90%;
  margin: auto;
  border-color: aquamarine;
  background-color: grey;
}
.form-group {
  margin: 20px;
}

input {
  max-width: 60%;
}
textarea {
  max-width: 60%;
}

form {
  width: 90%;
  margin: auto;
  margin-bottom: 5%;
  border-color: black;
  background-color: rebeccapurple;
}

.list-group {
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
}

.list-group-item {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  background-color: limegreen;
}

.post {
  background-color: orange;
  font-size: 20px;
  margin-right: 5%;
}

.btn-view {
  background-color: white;
  margin-left: 1%;
}

header {
  text-align: center;
}

h1 {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: magenta;
  font-size: xx-large;
  text-align: center;
}

h3 {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: orange;
  font-size: large;
  text-align: center;
}

#modalBtn {
  align: center;
}

